body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

img {
  width: 150px;
  position: absolute;
  transition: transform 0.2s;
}

.selector {
  margin-top: 180px;
}

.controls {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}


#voiture1:hover{
    transform: scale(1.2);
    transition: 2s;
}
#voiture2:hover{
    transform: scale(1.2);
    transition: 2s;
}   
#voiture3:hover{
    transform: scale(1.2);
    transition: 1s;
}

